<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cloud Web Hosting | Secure and Ultra Fast Web Hosting 2020</title>
    <meta
      name="description"
      content="Hostnox Provides Cloud wen Hosting with SSD Storage, Antispam Protection, extended hosting security with WAF Rule sets and Daily - Monthly automated backups! The best hosting Plan for your needs, is here"
    />
    <meta
      name="keywords"
      content="cloud reseller hosting, reseller hosting, ssd hosting, fast hosting, new 2019 hosting"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="apple-touch-icon-precomposed"
      href="img/icons/apple-touch-icon.png"
    />
    <link rel="icon" href="img/icons/favicon.ico" />

    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/main.min.css" />
	<link rel="stylesheet" href="css/hostnox.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="style2.css">

    <style></style>
  </head>
  <body class="footer-dark">
    <div
      role="dialog"
      aria-live="polite"
      aria-label="cookieconsent"
      aria-describedby="cookieconsent:desc"
      class="cc-window cc-banner cc-type-info cc-theme-block cc-bottom cc-color-override--1042357756 cc-invisible"
      style="display: none;"
    >
      <!--googleoff: all--><span id="cookieconsent:desc" class="cc-message"
        >This website uses cookies to ensure you get the best experience on our
        website.
        <a
          aria-label="learn more about cookies"
          role="button"
          tabindex="0"
          class="cc-link"
          href="https://hostnox.gr/terms-of-service.php"
          rel="noopener noreferrer nofollow"
          target="_blank"
          >Terms and Conditions</a
        ></span
      >
      <div class="cc-compliance">
        <a
          aria-label="dismiss cookie message"
          role="button"
          tabindex="0"
          class="cc-btn cc-dismiss"
          >Got it!</a
        >
      </div>
      <!--googleon: all-->
    </div>

    <header
      id="header"
      class="header-dynamic header-shadow-scroll headroom headroom--not-bottom headroom--pinned headroom--top"
    >
      <div class="container">
        <a class="logo" href="index.php">
          <img src="img/logos/logo_blue.png" alt="Hostnox" />
        </a>
        <nav>
          <ul class="nav-primary">
            <li>
              <a href="#" title="Web Hosnting Plans">Web Hosting Plans</a>
              <ul style="min-width: 181px;">
                <li>
                  <a href="cloud-hosting.php">Cloud Hosting</a>
                </li>
                <li>
                  <a href="cloud-reseller-hosting.php">Reseller Hosting</a>
                </li>

                <li>
                  <a href="cloud-server.php">Cloud VM Server</a>
                </li>
                <li>
                  <a href="cloud-windows-vm.php">Cloud VM Windows Servers</a>
                </li>
                <li>
                  <a href="europe-dedicated-server.php">Dedicated Servers</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Domain Names</a>
              <ul style="min-width: 141.078px;">
                <li>
                  <a
                    href="https://billing.hostnox.gr/cart.php?a=add&amp;domain=register&amp;language=english"
                    >New Domain Registration</a
                  >
                </li>
                <li>
                  <a
                    href="https://billing.hostnox.gr/cart.php?a=add&amp;domain=transfer&amp;language=english"
                    >Transfer a Domain</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="https://billing.hostnox.gr/cart.php?gid=7"
                >SSL Certificates</a
              >
            </li>
            <li>
              <a
                class="button button-secondary"
                href="https://billing.hostnox.gr/clientarea.php"
              >
                <i class="fa fa-lock icon-left"></i>Client Login
              </a>
            </li>
          </ul>
          <ul class="nav-secondary">
            <li>
              <a href="tel:+30 210 300 5125"
                ><i class="fa fa-phone icon-left"></i>+30 210 300 5125</a
              >
            </li>
            <li>
              <a
                href="https://billing.hostnox.gr/submitticket.php/?language=english"
                ><i class="fa fa-comment icon-left"></i>Get Support</a
              >
            </li>
            <li>
              <a
                href="https://billing.hostnox.gr/knowledgebase.php/?language=english"
                ><i class="fa fa-question-circle icon-left"></i>Knowledge
                Base</a
              >
            </li>
          </ul>
        </nav>
        <i id="nav-overlay-open" class="material-icons">menu</i>
      </div>
    </header>

    <section id="content">
      <section class="content-row content-row-color content-row-clouds">
        <div class="container">
          <header
            class="content-header content-header-small content-header-uppercase"
          >
            <h1>
              Password Generator Tool
            </h1>
          </header>
        </div>
        <div class="content-background content-background-light">
          <img
            src="uploads/cloud-web-hosting.jpg"
            alt="shared hosting with cloudlinux"
          />
        </div>
	  </section>
	  
	  <!-- section start -->
      <section class="content-row">
			<div class="container" data-ng-controller="PasswordAppController">
					<!-- header end -->
					<div class="row">
						<div class="col-md-12">
							<div class="widgets box">
								<div class="box-head w-bh"><h3 class="text-center">Password Generator Tool</h3></div>
									<form class="widgets-form" role="form">
									<div class="row">
									<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
					 Password Leanth:</label></div>
									<div class="col-md-8">     
												<input type="range" class="range-pgt" min="6" max="50" step="1" value="12" data-ng-model="passwordLength"><span class="range-slider__value">{{passwordLength}}</span> 
											</div>
									</div>
									<div class="row">
									<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
					 Include Symbols:</label></div>
									<div class="col-md-8">
									<label class="checkbox-inline"><input type="checkbox" data-ng-model="addSymbols"> (e.g. @#$%)</label>
									</div>
									</div>
									<div class="row">
									<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
					 Include Numbers:</label></div>
									<div class="col-md-8">
										<label class="checkbox-inline"><input type="checkbox" data-ng-model="addNumbers"> (e.g. 123456)</label>
									</div>
									</div>
									<div class="row">
									<div class="col-md-6"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
					 Include Uppercase Characters:</label></div>
									<div class="col-md-6">
										<label class="checkbox-inline"><input type="checkbox" data-ng-model="addUpper"> (e.g. ABCDEF)</label>
									</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary btn-lg w-btn" name="submit" id="load" data-loading-text="Generating <i class='fa fa-spinner fa-spin '></i>" data-ng-click="createPassword()"><i class="fa fa-bolt" aria-hidden="true"></i> Generate</button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2 result-label">Result:</div>
										<div class="col-md-7">
											<div data-ng-model="password" id="password">
											 <input type="text" class="form-control" data-ng-model="password" id="password1" placeholder="The new strong password will appear here">	
										   </div>
										</div>
										<div class="com-md-1 copy"><button type="button" class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#password1"><i class="fa fa-clone" aria-hidden="true"></i><span> Copy Password</span></button></div>
									</div>
									</form>
							</div>
						</div>
	  </section>
	  <!-- section end -->


    <footer id="footer">
      <section class="footer-primary">
        <div class="container">
          <div class="column-row">
            <div class="column-33">
              <h5>
                About Hostnox
              </h5>
              <p>
                We provide cloud based enterprise hosting, server and storage
                solutions of unmatched quality. Feel free to visit or contact us
                for a custom quote!<br /><br />
                Anastasiou Gennadiou 58 - 60, Athens, 11474<br />
                +30 210 300 51 25
              </p>
            </div>
            <div class="column-66">
              <div class="column-row align-right-top">
                <div class="column-25">
                  <h5>
                    Connect
                  </h5>
                  <ul class="list-style-icon">
                    <li>
                      <a
                        href="https://www.facebook.com/2hostnox"
                        rel="noindex"
                        target="blank"
                        ><i class="fa fa-facebook"></i>Facebook</a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.xing.com/xbp/pages/hostnox"
                        rel="noindex"
                        target="blank"
                        ><i class="fa fa-xing"></i>Xing</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column-25">
                  <h5>
                    Products
                  </h5>
                  <ul>
                    <li>
                      <a href="https://hostnox.gr/cloud-hosting.php"
                        >Cloud Web Hosting</a
                      >
                    </li>
                    <li>
                      <a href="https://hostnox.gr/cloud-reseller-hosting.php"
                        >Cloud Reseller Hosting</a
                      >
                    </li>
                    <li>
                      <a href="https://hostnox.gr/linux-cloud-vm.php"
                        >Cloud Linux Servers</a
                      >
                    </li>
                    <li>
                      <a href="https://hostnox.gr/cloud-windows-vm.php"
                        >Cloud Windows Servers</a
                      >
                    </li>
                    <li>
                      <a href="https://hostnox.gr/europe-dedicated-server.php"
                        >Dedicated Servers</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column-25">
                  <h5>
                    Resources
                  </h5>
                  <ul>
                    <li>
                      <a href="https://billing.hostnox.gr/knowledgebase.php"
                        >Knowledgebase</a
                      >
                    </li>
                    <li>
                      <a href="https://hostnox.gr/terms-of-service.php"
                        >Terms of Service</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column-flex">
                  <h5>
                    Company
                  </h5>
                  <ul>
                    <li>
                      <a href="">Blog</a>
                    </li>
                    <li>
                      <a href="">About</a>
                    </li>
                    <li>
                      <a href="contact.php">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-secondary">
        <div class="container">
          <p>
            Copyright 2018 © Hostnox Internet Services. All rights reserved.<br />
          </p>
        </div>
      </section>
	</footer>
    <script
      type="text/javascript"
      async=""
      src="https://www.google-analytics.com/analytics.js"
    ></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/headroom.min.js" type="text/javascript"></script>
    <script src="js/js.cookie.min.js" type="text/javascript"></script>
    <script src="js/imagesloaded.min.js" type="text/javascript"></script>
    <script src="js/bricks.min.js" type="text/javascript"></script>
    <script src="js/main.min.js" type="text/javascript"></script>
    <script src="js/application.js" type="text/javascript"></script>
	<script src="js/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="js/application.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"
    />
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"
      type="text/javascript"
	></script>
	
		<script>
			$(document).ready(function(){
			  $("#load").on('click', function(){
				   var $this = $(this);
				  $this.button('loading');
					setTimeout(function() {
					   $this.button('reset');
				   }, 500);
			  });
			});
		  var clipboard = new Clipboard('.btn');
		clipboard.on('success', function(e) {
			console.log(e);
		});
		clipboard.on('error', function(e) {
			console.log(e);
		});
			</script>

    <script type="text/javascript">
      window.addEventListener("load", function() {
        window.cookieconsent.initialise({
          palette: {
            popup: {
              background: "#252e39"
            },
            button: {
              background: "transparent",
              text: "#14a7d0",
              border: "#14a7d0"
            }
          },
          content: {
            link: "Terms and Conditions",
            href: "https://hostnox.gr/terms-of-service.php"
          }
        });
      });
    </script>

    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=UA-114670445-1"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-114670445-1");
    </script>
  </body>
</html>
