<!DOCTYPE html>
<html lang="en" data-ng-app="PasswordApp">
<head>

		<meta charset="UTF-8">
		<title>Cloud Web Hosting | Secure and Ultra Fast Web Hosting 2020</title>
		<meta name="description" content="Hostnox Provides Cloud wen Hosting with SSD Storage, Antispam Protection, extended hosting security with WAF Rule sets and Daily - Monthly automated backups! The best hosting Plan for your needs, is here">
		<meta name="keywords" content="cloud reseller hosting, reseller hosting, ssd hosting, fast hosting, new 2019 hosting">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="http://Hostnox.gr/css/passgenerator.css">
	<link rel="stylesheet" type="text/css" href="https://hostnox.gr/css/hostnox.css">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
      <!-- Ending -->
	  
        <?php include 'styles.php';?>		  
			<link rel="stylesheet" type="text/css" href="/css/passgenerator.css">

</head>
<body class="footer-dark">
		<!-- <?php include 'header.php';?>	 -->
<div class="container" data-ng-controller="PasswordAppController">
<!-- header end -->
<div class="row">
	<div class="col-md-12">
		<div class="widgets box">
				<form class="widgets-form" role="form">
				<div class="row">
				<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 Password Leanth:</label></div>
				<div class="col-md-8">     
                            <input type="range" class="range-pgt" min="6" max="50" step="1" value="12" data-ng-model="passwordLength"><span class="range-slider__value">{{passwordLength}}</span> 
                        </div>
				</div>
				<div class="row">
				<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 Include Symbols:</label></div>
				<div class="col-md-8">
				<label class="checkbox-inline"><input type="checkbox" data-ng-model="addSymbols"> (e.g. @#$%)</label>
				</div>
				</div>
				<div class="row">
				<div class="col-md-4"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 Include Numbers:</label></div>
				<div class="col-md-8">
					<label class="checkbox-inline"><input type="checkbox" data-ng-model="addNumbers"> (e.g. 123456)</label>
				</div>
				</div>
				<div class="row">
				<div class="col-md-6"><label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 Include Uppercase Characters:</label></div>
				<div class="col-md-6">
					<label class="checkbox-inline"><input type="checkbox" data-ng-model="addUpper"> (e.g. ABCDEF)</label>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<button type="button" class="btn btn-primary btn-lg w-btn" name="submit" id="load" data-loading-text="Generating <i class='fa fa-spinner fa-spin '></i>" data-ng-click="createPassword()"><i class="fa fa-bolt" aria-hidden="true"></i> Generate</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 result-label">Result:</div>
					<div class="col-md-7">
						<div data-ng-model="password" id="password">
                         <input type="text" class="form-control" data-ng-model="password" id="password1" placeholder="The new strong password will appear here">	
                       </div>
					</div>
					<div class="com-md-1 copy"><button type="button" class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#password1"><i class="fa fa-clone" aria-hidden="true"></i><span> Copy Password</span></button></div>
				</div>
				</form>
		</div>
	</div>
	
 <!-- Js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <!-- ./Js -->
<script>
        $(document).ready(function(){
          $("#load").on('click', function(){
          	 var $this = $(this);
			  $this.button('loading');
			    setTimeout(function() {
			       $this.button('reset');
			   }, 500);
          });
        });
      var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/application.js"></script>
</body>
</html>